@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 261 28% 11%;
    --foreground: 210 40% 98%;
    --card: 261 28% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 261 28% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 283 100% 63%;
    --primary-foreground: 283 100% 98%;
    --secondary: 261 28% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 261 28% 20%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 188 100% 63%;
    --accent-foreground: 261 28% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 261 28% 20%;
    --input: 261 28% 20%;
    --ring: 188 100% 63%;
    --radius: 0.8rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .glassmorphism {
    @apply bg-card/50 backdrop-blur-lg border border-white/10 shadow-lg;
  }
}
